[package]
name = "solipr-core"
version = "0.0.1"
description = "The core systems of Solipr"
repository = "https://github.com/solipr/solipr"
readme = "README.md"
license = "GPL-3.0-or-later"
keywords = ["vcs"]
categories = ["development-tools"]
edition = "2024"

[lints]
workspace = true
