name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Rust Checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install nightly
      run: rustup install nightly --profile minimal
    
    - name: Install nightly rustfmt
      run: rustup component add rustfmt --toolchain nightly

    - name: Check fmt
      run: cargo +nightly fmt --check
  
    - name: Clippy checks
      run: cargo clippy -- -D warnings

    - name: Build
      run: cargo build
      
    - name: Run tests
      run: cargo test
